<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Produse</title>
</head>
<body>
<h1>Lista Produse</h1>

<!-- Listă produse existente -->
<ul>
    <li th:each="product : ${products}">
        <a th:href="@{/product/{id}(id=${product.id})}" th:text="${product.name}"></a>
        <span> - Categorie: </span>
        <span th:text="${product.category}"></span>
        <span> - Preț: </span>
        <span th:text="${product.price}"></span> RON
        <span> - Stoc: </span>
        <span th:text="${product.stock}"></span>
    </li>
</ul>

<h2>Adaugă sau Actualizează Stocul</h2>
<!-- Formular pentru adăugare/actualizare produs -->
<form action="/add" method="post" th:object="${product}">
    <label for="id">ID:</label>
    <input type="text" id="id" name="id" th:field="*{id}" required><br><br>

    <label for="name">Nume:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required><br><br>

    <label for="category">Categorie:</label>
    <input type="text" id="category" name="category" th:field="*{category}" required><br><br>

    <label for="price">Preț:</label>
    <input type="number" id="price" name="price" th:field="*{price}" step="0.01" required><br><br>

    <label for="stock">Stoc Adăugat:</label>
    <input type="number" id="stock" name="stock" th:field="*{stock}" required><br><br>

    <button type="submit">Salvează</button>
</form>
</body>
</html>




